{% extends 'layout.html' %}

{% block body %} 
<style>
    td {
        padding: 0.5rem;
    }
</style>
</body>
    <div class="container"></div>
    <h1>Welcome to blackjack!</h1>
        <pre>{{ dealer_message }}</pre>
        <pre>{{ dlhh }}</pre>
        <p>Dealer Total: {{ dltt }}</p>
    <div></div>
        <p1>Your cards are:</p1>
        <pre>{{ plh }}</pre>
        <p>Your Total: {{pltt}}</p>
    <form method="POST">
        <button type="submit" name="hit" value="hit">
            Hit
        </button>
    </form>



</body>

{% endblock %}
